<h2>Exploration</h2>
<div>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="robotId">
      <th mat-header-cell *matHeaderCellDef> RobotId.</th>
      <td mat-cell *matCellDef="let element"> {{element.robotId}} </td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Counter.</th>
      <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.machineName.rawMachineName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="machineZone">
      <th mat-header-cell *matHeaderCellDef> Zone</th>
      <td mat-cell *matCellDef="let element"> {{element.machineZone}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="orientation">
      <th mat-header-cell *matHeaderCellDef> Rotation</th>
      <td mat-cell *matCellDef="let element"> {{element.orientation}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
